# === Django ===
SECRET_KEY=change-me-to-a-long-random-string
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# === Ma'lumotlar bazasi ===
# Dev (standart): SQLite
DATABASE_URL=sqlite:///db.sqlite3
# Prod namuna: PostgreSQL
# DATABASE_URL=postgres://orderflow:parol@localhost:5432/orderflow

# === Til / vaqt mintaqasi ===
LANGUAGE_CODE=uz
TIME_ZONE=Asia/Tashkent
